body{
    background-color: aquamarine;
   
}
a {
    text-decoration: none;
    padding-left: 30px;
    color: blue;
    
}

h1,
h2{
    text-align: center;
    margin-bottom: 50px;
}

img {
    display: block;
    margin: auto auto;
}

.ingredients {
    margin-left: 380px;
    line-height: 2;
}

.direction{
    width: 50%;
    margin-left: 380px;
    line-height: 2;
}

.credit {
    text-align: center;
}